<!DOCTYPE html>
<html lang="en" ng-app="demo" ng-controller="Ctrl">
<head>
	<meta charset="UTF-8">
	<title>Mad Libs</title>
	<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.2.18/angular-animate.min.js"></script>

  <script type="text/javascript" src="app.js"></script>
  <link href="main.css" rel="stylesheet">
</head>

<body>
 <div>

 <div class="hero_wrap">
  <div class="hero_data">
    <img class="face_pic" src="pics/libs_face">
    <p class="hero_text"><img class="ang_img" src="pics/ang_sheild"><br/>Automate This!</p>
  </div><!-- . hero_data - -->
 </div><!-- . hero_wrap - -->

 <div class="input_wrap" ng-show="inputOptions">

  <div class="gender_wrap">
   <p>Select your gender:</p>
    <div class="gender_button" ng-click="setMale()">male</div>
    <div class="gender_button" ng-click="setFemale()">female</div>
  </div>

  <div class="input_title">
   <p>Provide the following words:</p>
   <div class="input_text">
     <table>
        <tr>
          <td class="label">Name</td>
          <td class="input"><input type="text" ng-model="word.maleName" /></td>
        </tr>
        <tr>
          <td class="label">Dirty Task</td>
          <td class="input"><input type="text" ng-model="word.dirtyTask" /></td>
        </tr>
        <tr>
          <td class="label">Obnoxious Celebrity</td>
          <td class="input"><input type="text" ng-model="word.obnoxiousCelebrity" /></td>
        </tr>
        <tr>
          <td class="label">Job Title</td>
          <td class="input"><input type="text" ng-model="word.jobTitle" /></td>
        </tr>
        <tr>
          <td class="label">Celebrity Name</td>
          <td class="input"><input type="text" ng-model="word.celebrityName" /></td>
        </tr>
        <tr>
          <td class="label">Huge Number</td>
          <td class="input"><input type="text" ng-model="word.hugeNumber" /></td>
        </tr>
        <tr>
          <td class="label">Tedious Task</td>
          <td class="input"><input type="text" ng-model="word.tediousTask" /></td>
        </tr>
        <tr>
          <td class="label">Useless Skill</td>
          <td class="input"><input type="text" ng-model="word.uselessSkill" /></td>
        </tr>
        <tr>
          <td class="label">Adjective</td>
          <td class="input"><input type="text" ng-model="word.adjective" /></td>
        </tr>
        <tr>
          <td></td>
          <td style="text-align:right"><input type="submit" ng-click="userSubmit()" value="Submit"/></td>
        </tr>
      </table>
   </div><!-- . input_text - -->
  </div><!--. input_title - -->	
 </div><!-- . input_wrap - -->

  <div class="main_wrap" ng-show="!inputOptions">
  <div class="main_title">
   <div class="main_text">
   	<p class="test">
      <div class="line">
        <div class="word">
          {{ word.maleName }}
        </div>
      </div>
      was a 
      <div class="line">
        <div class="word">
          {{ word.jobTitle }}
        </div> 
      </div> 
      who loved technology. Although 
      <div class="other_line">
        <div class="">
          {{ genderTwo }}
        </div> 
      </div>
      loved parts of 
      <div class="other_line">
        <div class="">
          {{ genderOne }}
        </div> 
      </div>  
      job, 
      <div class="other_line">
        <div class="word">
          {{ genderTwo }}
        </div> 
      </div>
      absolutely hated
      <div class="line">
        <div class="word">
          {{ word.tediousTask }}
        </div>
      </div> 
      and 
      <div class="line">
        <div class="word">
          {{ word.dirtyTask }}
        </div>
      </div>  
      So, 
      <div class="line">
        <div class="word">
          {{ word.maleName }}
        </div>
      </div>  
      met with 
      <div class="other_line">
        <div class="word">
          {{ genderOne }}
        </div> 
      </div> 
      life mentor 
      <div class="line">
        <div class="word">
          {{ word.celebrityName }}
        </div>
      </div>
      who told 
      <div class="other_line">
        <div class="word">
          {{ genderThree }}
        </div> 
      </div> 
      to learn how to 
      <div class="line">
        <div class="word">
          {{ word.uselessSkill }}
        </div>
      </div>   
      with Thinkful. Thinkful didn't offer a course on 
      <div class="line">
        <div class="word">
          {{ word.uselessSkill }}
        </div>
      </div>
      so 
      <div class="other_line">
        <div class="word">
          {{ genderTwo }}
        </div> 
      </div>studied programming instead.
    </p><!-- . test - -->
   
    <p class="test"> 
      What a great decision! With
      <div class="other_line">
        <div class="word">
          {{ genderOne }}
        </div> 
      </div> 
      new skills, 
      <div class="line">
        <div class="word">
          {{ word.maleName }}
        </div>
      </div>
      built a(n) 
      <div class="line">
        <div class="word">
          {{ word.adjective }}
        </div>
      </div>
      robot named 
      <div class="line">
        <div class="word">
          {{ word.obnoxiousCelebrity }}
        </div>
      </div>
      that not only loved 
      <div class="line">
        <div class="word">
          {{ word.dirtyTask }}
        </div>
      </div>
      but did it 
      <div class="line">
        <div class="word">
          {{ word.hugeNumber }}
        </div>
      </div>
      faster.
      <div style="text-align:right"><input type="submit" ng-click="restart()" value="Reset" /></div>
    </p><!-- . test - -->
   </div><!-- . main_text - -->
  </div><!--. main_title - -->	
 </div><!-- . main_wrap - -->

 </div>
</body>
</html>